<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <div th:replace="home/fragments/fragments.html :: styles"></div>
  <title>| Estrenos Hoy</title>
</head>
<body>
  <div class="content" >
    <div th:replace="home/fragments/fragments.html :: header"></div>
    <div class="banner-destacado">
      <div class="img">
        <img th:src="'//estrenoshoyb.s3.amazonaws.com/images/' + ${peliculaDetalle.portadaDestacada}" alt="">
      </div>
      <div class="contenido">
        <div class="titulo">
          <h2>[[${peliculaDetalle.nombre}]]</h2>
        </div>
        <div class="timing">
          <span><i class="far fa-clock"></i>&nbsp;[[${peliculaDetalle.duracion}]]</span>
        </div>
        <div class="descripcion">
          <p th:text="${peliculaDetalle.descripcion}">
          </p>
        </div>
        <div class="info">
          <p>
            <strong>Protagonizan: </strong>[[${peliculaDetalle.protagonistas}]]
          </p>
          <p>
            <strong>Género: </strong>[[${peliculaDetalle.genero}]]
          </p>
        </div>
        <div class="cta">
          <a th:href="@{/home/estrenos/entrada/{id} (id = ${peliculaDetalle.id}) }">
            <i class="fas fa-play"></i>Comprar entradas
          </a>
          <!--<a href="<%=request.getContextPath()%>/EntradaController?processing=crearAviso&idPelicula=<%=pelicula.getIdPelicula()%>" data-id="<%=pelicula.getIdPelicula()%>">
            <i class="far fa-clock"></i>
            <span id="fechaEstreno" data-estreno="<%=pelicula.getFechaEstreno()%>" data-pri="" data-sec=""></span>
          </a>-->
        </div>
        <div class="playtrailer">
          <a th:href="${peliculaDetalle.trailer}" target="_blank">
            <i class="far fa-play-circle"></i>
            Ver trailer
          </a>
        </div>
      </div>
    </div>
  </div>
<!--
  <div th:replace="home/fragments/fragments.html :: footer"></div>
-->
  <div th:replace="home/fragments/fragments.html :: scripts"></div>
</body>
</html>
