<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/slick.css">
  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://estrenoshoyb.s3.amazonaws.com/fontawesome/css/all.min.css">
  <title>Estrenos Hoy</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="/home/index.jsp">
        <img src="https://estrenoshoyb.s3.amazonaws.com/images/logo.svg " alt=""><span>Solo estrenos</span>
      </a>
      <ul class="navbar-nav ml-auto">
        <li>
          <p>Bienvenido, Usuario!</p>
        </li>
        <li>
          <a href="">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- preloader -->


  <div th:switch="peliculasHome" class="content nobg">
    <div th:case="*">
    <div class="banner-destacado">
      <div class="img">
        <img src="images/var.portadaDestacada.jpg" alt="">
      </div>
      <div class="contenido">
        <div class="contenido overlay">
          <div class="titulo">
            <h2>Titulo</h2>
          </div>
          <div class="timing">
                          <span>
                              <i class="far fa-clock"></i>var.duracion
                          </span>
          </div>
          <div class="description">
            <p>
              var.descripcion
            </p>
          </div>
          <div class="info">
            <p>
              <strong>Protagonizan: </strong>var.progatonistas
            </p>
            <p>
              <strong>Género: </strong>var.genero
            </p>
          </div>
          <div class="cta">
            <a href="">
              <i class="fas fa-play"></i>Comprar entradas
            </a>
          </div>
          <div class="playtrailer">
            <a href="var.trailer" target="_blank">
              <i class="far fa-play-circle"></i>Ver tráiler
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="home-grid">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Últimos estrenos</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-ultimos">
            <div class="home-movie">
              <div class="img">
                <img src="images/var.portada.jpg" alt="var.nombre">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4>var.nombre</h4>
                </div>
                <div class="timing">
                  <span>var.duracion</span>
                </div>
                <div class="cta">
                  <a href="">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Próximos estrenos</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-estrenos">
            <div class="home-movie">
              <div class="img">
                <img src="images/var.portada.jpg" alt="var.nombre">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4>var.nombre</h4>
                </div>
                <div class="timing">
                  <span>var.duracion</span>
                </div>
                <div class="cta">
                  <a href="">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Recomendados</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-recomendados">
            <div class="home-movie">
              <div class="img">
                <img src="images/var.portada.jpg" alt="var.nombre">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4>var.nombre</h4>
                </div>
                <div class="timing">
                  <span>var.duracion</span>
                </div>
                <div class="cta">
                  <a href="">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p>
            &copy; SOLO ESTRENOS.
          </p>
          <p>
            All Rigths Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://estrenoshoyb.s3.amazonaws.com/js/jquery-3.5.1.slim.min.js"></script>
  <script src="https://estrenoshoyb.s3.amazonaws.com/js/slick.min.js"></script>
  <script src="https://estrenoshoyb.s3.amazonaws.com/js/popper.min.js"></script>
  <script src="https://estrenoshoyb.s3.amazonaws.com/js/bootstrap.min.js"></script>
  <script src="https://estrenoshoyb.s3.amazonaws.com/js/all.js"></script>
</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/slick.css">
  <link rel="stylesheet" href="https://estrenoshoyb.s3.amazonaws.com/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://estrenoshoyb.s3.amazonaws.com/fontawesome/css/all.min.css">
  <title>Estrenos Hoy</title>
</head>

<div th:switch="peliculasHome">
  <div th:case="*">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre Pelicula</th>
        <th scope="col">Descripcion pelicula</th>
        <th scope="col">Pais Pelicula</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each=" peli: ${peliculasHome}">
        <th scope="row" th:text="${peli.nombre}"></th>
        <td th:text="${peli.descripcion}"></td>
        <td th:text="${peli.pais}"></td>
        <td th:text="${peli.getNombre()}"></td>

      </tr>
      </tbody>
    </table>
  </div>

</div>-->
