<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <div th:replace="home/fragments/fragments.html :: styles"></div>
  <title>Estrenos Hoy</title>
</head>
<style type="text/css">
    .for_slick_slider{
        display: flex;
    }

    .for_slick_slider .item{
        width: 350px;
        height: 250px;
        position: relative;
    }

    .for_slick_slider .item .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 250px;
        background: rgba (0,0,0,0.10);
    }

    .for_slick_slider .item img{
        width: 350px;
        height: 250px;
    }
</style>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <a class="navbar-brand" href="/home/index.jsp">
      <img src="https://estrenoshoyb.s3.amazonaws.com/images/logo.svg " alt=""><span>Solo estrenos</span>
    </a>
    <ul class="navbar-nav ml-auto">
      <li>
        <p>Bienvenido, Usuario!</p>
      </li>
      <li>
        <a href="">Logout</a>
      </li>
    </ul>
  </nav>
</header>
<!-- preloader -->


<div th:switch="peliculas" class="content nobg" >
  <div>
    <div class="banner-destacado"
         th:each="pelicula : ${peliculas}"
         th:object="${pelicula}"
         th:if="${pelicula.destacada} == 1">
      <div class="img">
        <img th:src="'//estrenoshoyb.s3.amazonaws.com/images/' + ${pelicula.portadaDestacada}" alt="">
      </div>
      <div class="contenido">
        <div class="contenido overlay">
          <div class="titulo">
            <h2>[[${pelicula.nombre}]]</h2>
          </div>
          <div class="timing">
              <span>
                <i class="far fa-clock"></i>&nbsp;[[${pelicula.duracion}]]
              </span>
          </div>
          <div class="descripcion">
            <p th:text="${pelicula.descripcion}">
            </p>
          </div>
          <div class="info">
            <p>
              <strong>Protagonizan: </strong>[[${pelicula.protagonistas}]]
            </p>
            <p>
              <strong>Género: </strong>[[${pelicula.genero}]]
            </p>
          </div>
          <div class="cta">
            <a th:href="@{/home/estrenos/{id} (id = ${pelicula.id}) }">
              <i class="fas fa-play"></i>Comprar entradas
            </a>
          </div>
          <div class="playtrailer">
            <a th:href="${pelicula.trailer}" target="_blank">
              <i class="far fa-play-circle"></i>Ver tráiler
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="home-grid">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Últimos estrenos</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-ultimos">
            <div class="home-movie"
                 th:each="pelicula : ${peliculas}"
                 th:object="${pelicula}"
                 th:if="${pelicula.estado} == 1">
              <div class="img">
                <img th:src="'//estrenoshoyb.s3.amazonaws.com/images/' + ${pelicula.portada}" th:alt="${pelicula.nombre}">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4 th:text="${pelicula.nombre}"></h4>
                </div>
                <div class="timing">
                  <span th:text="${pelicula.duracion}"></span>
                </div>
                <div class="cta">
                  <a th:href="@{/home/estrenos/{id} (id = ${pelicula.id}) }">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Próximos estrenos</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-estrenos">
            <div class="home-movie"
                 th:each="pelicula : ${peliculas}"
                 th:object="${pelicula}"
                 th:if="${pelicula.estado} == 0">
              <div class="img">
                <img th:src="'//estrenoshoyb.s3.amazonaws.com/images/' +${pelicula.portada}" th:alt="${pelicula.nombre}">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4 th:text="${pelicula.nombre}"></h4>
                </div>
                <div class="timing">
                  <span th:text="${pelicula.duracion}"></span>
                </div>
                <div class="cta">
                  <a th:href="@{/home/estrenos/{id} (id = ${pelicula.id}) }">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Recomendados</h3>
          </div>
          <div class="col text-right">
            <a href="#" class="ver-todos">
              Ver todos
            </a>
          </div>
        </div>
        <div class="row pt-4">
          <div class="slider-recomendados">
            <div class="home-movie"
                 th:each="pelicula : ${peliculas}"
                 th:object="${pelicula}"
                 th:if="${pelicula.recomendada} == 1">
              <div class="img">
                <img th:src="'//estrenoshoyb.s3.amazonaws.com/images/' +${pelicula.portada}" th:alt="${pelicula.nombre}">
              </div>
              <div class="contenido">
                <div class="titulo">
                  <h4 th:text="${pelicula.nombre}"></h4>
                </div>
                <div class="timing">
                  <span th:text="${pelicula.duracion}"></span>
                </div>
                <div class="cta">
                  <a th:href="@{/home/estrenos/{id} (id = ${pelicula.id}) }">
                    <i class="fas fa-play"></i>Comprar entradas
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="home/fragments/fragments.html :: homescripts"></div>
</body>
</html>
