<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- metas -->
    <!-- styles -->
    <title>Title</title>
</head>
<body>
    <!-- header -->
    <!-- preloader -->
    <div class="content nobg">
        <div class="banner-destacado">
            <div class="img">
                <img src="images/var.portadaDestacada.jpg" alt="">
            </div>
            <div class="contenido">
                <div class="contenido overlay">
                    <div class="titulo">
                        <h2>Titulo</h2>
                    </div>
                    <div class="timing">
                        <span>
                            <i class="far fa-clock"></i>var.duracion
                        </span>
                    </div>
                    <div class="description">
                        <p>
                            var.descripcion
                        </p>
                    </div>
                    <div class="info">
                        <p>
                            <strong>Protagonizan: </strong>var.progatonistas
                        </p>
                        <p>
                            <strong>Género: </strong>var.genero
                        </p>
                    </div>
                    <div class="cta">
                        <a href="">
                            <i class="fas fa-play"></i>Comprar entradas
                        </a>
                    </div>
                    <div class="playtrailer">
                        <a href="var.trailer" target="_blank">
                            <i class="far fa-play-circle"></i>Ver tráiler
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-grid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3>Últimos estrenos</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#" class="ver-todos">
                            Ver todos
                        </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="slider-ultimos">
                        <div class="home-movie">
                            <div class="img">
                                <img src="images/var.portada.jpg" alt="var.nombre">
                            </div>
                            <div class="contenido">
                                <div class="titulo">
                                    <h4>var.nombre</h4>
                                </div>
                                <div class="timing">
                                    <span>var.duracion</span>
                                </div>
                                <div class="cta">
                                    <a href="">
                                        <i class="fas fa-play"></i>Comprar entradas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3>Próximos estrenos</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#" class="ver-todos">
                            Ver todos
                        </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="slider-estrenos">
                        <div class="home-movie">
                            <div class="img">
                                <img src="images/var.portada.jpg" alt="var.nombre">
                            </div>
                            <div class="contenido">
                                <div class="titulo">
                                    <h4>var.nombre</h4>
                                </div>
                                <div class="timing">
                                    <span>var.duracion</span>
                                </div>
                                <div class="cta">
                                    <a href="">
                                        <i class="fas fa-play"></i>Comprar entradas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3>Recomendados</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#" class="ver-todos">
                            Ver todos
                        </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="slider-recomendados">
                        <div class="home-movie">
                            <div class="img">
                                <img src="images/var.portada.jpg" alt="var.nombre">
                            </div>
                            <div class="contenido">
                                <div class="titulo">
                                    <h4>var.nombre</h4>
                                </div>
                                <div class="timing">
                                    <span>var.duracion</span>
                                </div>
                                <div class="cta">
                                    <a href="">
                                        <i class="fas fa-play"></i>Comprar entradas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- scripts -->
</body>
</html>