<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <!-- metas -->
  <!-- styles -->
  <title>¡Ches...! | Solo Estrenos</title>
</head>
<body>
  <!-- header -->
  <!-- preloader -->
  <div class="bkg_video">
    <video autoplay loop poster="images/blackwidow_banner-dest.webp">
      <source src="images/blackwidow_banner-dest.webm">
    </video>
  </div>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-5">
          <h2 class="text-white text-center my-4">¡Ches...!</h2>
          <h4 class="text-white text-center mt-3">Hubo un problema con tus datos.</h4>
          <p class="text-center my-4">Por favor, revisalos e intenta nuevamente.</p>
          <a href="" class="btn btn-primary btn-block my-4">Intertar nuevamente</a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <!-- scripts -->
</body>
</html>