<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <!-- metas -->
  <!-- styles -->
  <title>¡Validado! | Estrenos Hoy</title>
</head>
<body>
  <!-- header -->
  <!-- preloader -->
  <div class="bkg_video">
    <video autoplay loop poster="images/blackwidow_banner-dest.webp">
      <source src="images/blackwidow_banner-dest.webm">
    </video>
  </div>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-5">
          <h2 class="text-white text-center my-4">¡Validado!</h2>
          <h4  class="text-white text-center mt-3" >Gracias, tu cuenta ha sido validada al confirmar que el correo electrónico brindado es real y te pertecene.</h4>
          <p class="text-center my-4">Ten en cuenta que sólo usaremos tu correo para este aviso. No lo guardaremos para el registro de ventas.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <!-- scripts -->
</body>
</html>