<div th:fragment="top" class="top_nav">
  <div class="nav_menu">
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <nav class="nav navbar-nav">
      <ul class=" navbar-right">
        <li class="nav-item dropdown open" style="padding-left: 15px;">
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="https://estrenoshoyb.s3.amazonaws.com/images/admin/images/img.jpg" alt="">
          </a>
          <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>



<div th:fragment="side" class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-ticket"></i> <span>Solo Entradas</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="https://estrenoshoyb.s3.amazonaws.com/images/admin/images/img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Bienvenido,<br></span>
        <span></span>
        <h2></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    <br />
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a th:href="@{/admin/usuarios}"><i class="fa fa-users"></i>Usuarios</a>
          </li>
          <li>
            <a th:href="@{/admin/estrenos}"><i class="fa fa-star"></i>Estrenos</a>
          </li>
          <li>
            <a th:href="@{/admin/cines}"><i class="fa fa-video-camera"></i>Cines</a>
          </li>
          <li>
            <a th:href="@{/admin/entradas}"><i class="fa fa-ticket"></i>Entradas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer th:fragment="footer">
  <div class="pull-right">
  </div>
  <div class="clearfix"></div>
</footer>